.customermanagement{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    height: 100%;
    width: 100%;
}
.customermanagement .full-kyc{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
}
.customermanagement .full-kyc .body{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.customermanagement .full-kyc .body table{
    border: 0px solid black;
    margin: 5px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}
.customermanagement .full-kyc .body td,tr,th{
    border: 0px solid black;
    padding: 0;
    padding: 10px 30px;
}
.customermanagement .full-kyc .body table thead tr:nth-child(1){
    background: rgba(255, 223, 134, 1);
}
.customermanagement .full-kyc .body table thead tr:nth-child(2){
    background: rgba(237, 237, 237, 1);
}
.customermanagement .full-kyc .body table tbody tr:nth-child(odd){
    background: rgba(255, 253, 240, 1);
}
.customermanagement .full-kyc .body table tbody tr:nth-child(even){
    background: rgba(255, 255, 255, 1);
}

